<div class="livros" id="harryPotterCaliceFogo">
  <h3>{{ livro1.name }}</h3>
  <img src="{{livro1.bookCover}}" alt="Capa do livro Harry Potter e o Cálice de Fogo">
  <p>
    Harry volta para a Escola de Magia e Bruxaria de Hogwarts para cursar a
    quarta série. Para surpresa de todos não haverá a tradicional Copa Anual de
    Quadribol entre Casas. Será substituída pelo Torneio Tribuxo, uma competição
    amistosa entre as três maiores escolas européias de bruxaria. A competição é
    dividida em tarefas, cuja finalidade é testar a coragem, o poder de dedução,
    a perícia em magia e a capacidade de enfrentar o perigo dos campeões.
    Inexplicavelmente Harry é escolhido pelo Cálice de Fogo para competir como
    um dos campeões de Hogwarts. Tendo a seu lado os fiéis amigos Rony, Hermione
    e agora também o seu padrinho, Sirius Black o menino feiticeiro tentará
    escapar mais uma vez das armadilhas de Lord Voldemort.
  </p>
  <table>
    <tr>
      <th>Data</th>
      <th>Autor</th>
      <th>Idioma</th>
      <th>Genêro</th>
      <th>Páginas</th>
      <th>Editora</th>
    </tr>
    <tr>
      <td>{{ livro1.date }}</td>
      <td>{{ livro1.writer }}</td>
      <td>{{ livro1.lang }}</td>
      <td>{{ livro1.genre }}</td>
      <td>{{ livro1.pages }}</td>
      <td>{{ livro1.editor }}</td>
    </tr>
  </table>
</div>

<div class="livros" id="orgulhoPreconceito">
  <h3>{{ livro2.name }}</h3>
  <img src="{{livro2.bookCover}}" alt="Capa do livro Orgulho e Preconceito">
  <p>
    O romance retrata a relação entre Elizabeth Bennet (Lizzy) e Fitzwilliam
    Darcy na Inglaterra rural do século XVIII. Lizzy possui outras quatro irmãs,
    nenhuma delas casadas, o que Sra. Bennet, mãe de Lizzy, considera um
    absurdo. Quando Sr. Bingley, jovem bem sucedido, aluga uma mansão próxima da
    casa dos Bennet, Sra. Bennet vê nele um possível marido para uma de suas
    filhas. De fato, ele parece se interessar bastante por Jane, sua filha mais
    velha, logo no primeiro baile em que ele, as irmãs e o Sr. Darcy, seu amigo,
    comparecem. Enquanto Sr. Bingley é visto com bons olhos por todos, Sr.
    Darcy, por seu jeito frio, é mal falado. Lizzy, em particular, desgosta
    imensamente dele, por ele ter ferido seu orgulho na primeira vez em que se
    encontram. A recíproca não é verdadeira. Mesmo com uma má primeira
    impressão, Darcy realmente se encanta por Lizzy, sem que ela saiba do fato.
    A partir daí o livro mostra a evolução do relacionamento entre eles e os que
    os rodeiam, procurando apresentar também, desse modo, a sociedade do final
    do século XVIII.
  </p>
  <table>
    <tr>
      <th>Data</th>
      <th>Autor</th>
      <th>Idioma</th>
      <th>Genêro</th>
      <th>Páginas</th>
      <th>Editora</th>
    </tr>
    <tr>
      <td>{{ livro2.date }}</td>
      <td>{{ livro2.writer }}</td>
      <td>{{ livro2.lang }}</td>
      <td>{{ livro2.genre }}</td>
      <td>{{ livro2.pages }}</td>
      <td>{{ livro2.editor }}</td>
    </tr>
  </table>
</div>

<div class="livros" id="anneGreenGables">
  <h3>{{ livro3.name }}</h3>
  <img src="{{livro3.bookCover}}" alt="Capa do livro Anne de Green Gables">
  <p>
    Quando os irmãos Marilla e Matthew Cuthbert, já cansados e idosos, procuram
    um jovem para ajudá-los nos trabalhos da fazenda, nem imaginam a surpresa
    que os aguarda. O destino não lhes traz um menino, mas uma garota de cabelos
    bem ruivos, sardenta, magra e muito faladeira. Mas a órfã Anne Shirley,
    acostumada a superar as adversidades com a ajuda da imaginação, conquista
    não só os proprietários de Green Gables como toda a cidade de Avonlea.
  </p>
  <table>
    <tr>
      <th>Data</th>
      <th>Autor</th>
      <th>Idioma</th>
      <th>Genêro</th>
      <th>Páginas</th>
      <th>Editora</th>
    </tr>
    <tr>
      <td>{{ livro3.date }}</td>
      <td>{{ livro3.writer }}</td>
      <td>{{ livro3.lang }}</td>
      <td>{{ livro3.genre }}</td>
      <td>{{ livro3.pages }}</td>
      <td>{{ livro3.editor }}</td>
    </tr>
  </table>
</div>

<div class="livros" id="1984">
  <h3>{{ livro4.name }}</h3>
  <img src="{{livro4.bookCover}}" alt="Capa do livro 1984">
  <p>
    O personagem principal do livro é Winston Smith, um funcionário público
    consciente do terrível e opressivo sistema sob o qual vive e permanentemente
    observado pelo Big Brother, líder onipresente e onisciente do partido e da
    nação. 1984 é uma obra extremamente importante não só pela denúncia que faz
    contra os abusos do estado sobre o indivíduo, mas também pelas reflexões
    acerca de um poder calcado na manipulação da linguagem, da história e do
    medo. Questões que talvez sejam até mais relevantes hoje do que na época em
    que a obra foi escrita.1984, juntamente com A Revolução dos Bichos, é
    presença obrigatória em qualquer lista séria dos mais importantes livros de
    todos os tempos.
  </p>
  <table>
    <tr>
      <th>Data</th>
      <th>Autor</th>
      <th>Idioma</th>
      <th>Genêro</th>
      <th>Páginas</th>
      <th>Editora</th>
    </tr>
    <tr>
      <td>{{ livro4.date }}</td>
      <td>{{ livro4.writer }}</td>
      <td>{{ livro4.lang }}</td>
      <td>{{ livro4.genre }}</td>
      <td>{{ livro4.pages }}</td>
      <td>{{ livro4.editor }}</td>
    </tr>
  </table>
</div>

<div class="livros" id="seteMaridosDeEvelynHugo">
  <h3>{{ livro5.name }}</h3>
  <img src="{{livro5.bookCover}}" alt="Capa do livro Os Sete Maridos de Evelyn Hugo">
  <p>
    Lendária estrela de Hollywood, Evelyn Hugo sempre esteve sob os holofotes —
    seja estrelando uma produção vencedora do Oscar, protagonizando algum
    escândalo ou aparecendo com um novo marido... pela sétima vez. Agora,
    prestes a completar oitenta anos e reclusa em seu apartamento no Upper East
    Side, a famigerada atriz decide contar a própria história — ou sua
    "verdadeira história" —, mas com uma condição: que Monique Grant, jornalista
    iniciante e até então desconhecida, seja a entrevistadora. Ao embarcar nessa
    misteriosa empreitada, a jovem repórter começa a se dar conta de que nada é
    por acaso — e que suas trajetórias podem estar profunda e irreversivelmente
    conectadas.
  </p>
  <table>
    <tr>
      <th>Data</th>
      <th>Autor</th>
      <th>Idioma</th>
      <th>Genêro</th>
      <th>Páginas</th>
      <th>Editora</th>
    </tr>
    <tr>
      <td>{{ livro5.date }}</td>
      <td>{{ livro5.writer }}</td>
      <td>{{ livro5.lang }}</td>
      <td>{{ livro5.genre }}</td>
      <td>{{ livro5.pages }}</td>
      <td>{{ livro5.editor }}</td>
    </tr>
  </table>
</div>
